.box{
  display: inline-block;
}

#customOption{
  text-align: center;
  display: none;
  
}

#span_container {
  text-align: center;
  }
#my_span {
  color: red;
  text-align: center;
  }
#header {
  height: 5em;
  background-color: #630269;
  text-align: center;
  color: white;
  }
#spelly {
   text-align: center;
  }
#photo {
    text-align: center;
    margin-top: 3em;
  }
#right{
  color: green;
}
#wrong{
  color: red;
}
